@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>O PetShelter é um sistema criado para facilitar a gestão de animais resgatados, permitindo registrar informações, acompanhar a saúde e organizar o processo de adoção. Sua missão é apoiar abrigos e serviços públicos, tornando o cuidado animal mais eficiente e acessível.</p>
</div>
